#color1{
  background-color: #7ad9ff;
}
#color2{
  background-color:black;
}
#color3{
  background-color:#ffffff;
}
#color4{
  background-color:red;
}
#color5{
  background-color:#ffdaf4;
}
#color6{
  background-color:#f44336;
}
#color7{
  background-color:green;
}
#color8{
  background-color:rgb(127, 236, 173);
}
#color9{
  background-color:#bdae99;
}
#color10{
  background-color:#474e5d;
}
#color11{
  background-color:#fefefe;
}
#color12{
  background-color:#888;
}
#color13{
  background-color:#f1f1f1;
}
