{% extends "base.html" %}

{% block content %}


<div id="Slogan">
	<h1> Welcome to the Petite Treats!</h1>
<h2> Having a hard day? Petite Treats' desserts will take you to heaven.</h2>
<p> We are here to provide you with the best quaility bakery products! Here are some products from us!</p>
<img src="{{url_for('.static', filename='Images/HomePage.png')}}" style="width: 100%">
</div>


<div id="buttonBoder">
	
<div id="buttonText">
		<p>Petite Treats also have weekly specials for registered customers! Sign up now to have a taste of our new and limited weekly specials!</p>
		<img src="{{url_for('.static', filename='Images/second.png')}}" style="width: 100%">
<a class="button" href="/specials" class="noDecor">Go to Weekly Specials </a>

</div>
</div>


 

<div id="Feedbacks">
<h2>Hightlighted Customer Feedbacks:</h2>
<h3 class="customerName">
	Queen :
</h3>
<p> 
“Petite Treats has the best cheesecake I’ve ever had. Always fresh, and melts in the
mouth. Would recommend highly!”
</p>
<h3 class="customerName">
	Frank Sinatra :
</h3>
<p>
"I’m addicted to the Danish pastries and always drop in here on my way to work.”
</p>
	
</div>







{% endblock %}